@import "../../Assets/Style/variables.scss";

.main_menu {
    li {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 5rem;

        a {
            color: $link_main_color;
        }

        a:hover {
            color: $link_hover_color;
        }

        a.active:hover:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: $link_hover_color;
            position: absolute;
        }
    }

    #exit {
        background: #fff;
        border: 3px solid $menu_background_color;
        border-radius: $border_radius;
        align-items: center;
        margin-right: 16px;
        padding: 12px 16px;
        color: $link_main_color;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }

    #exit:hover {
        background-color: $menu_background_color;
        color: $link_hover_color;
    }
}

.burger {
    display: none;
}

/*          mobile          */
@media screen and (max-width: 1164px) {
    .main_menu {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 230px;
        display: flex;
        background: $form_background;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        transition: all 0.3s ease;
        transform: scaleX(0);
        transform-origin: right;
        z-index: 99;

        li {
            margin-left: 2rem;

            a {
                color: #fff;
            }

            button {
                background: $menu_background_color;
            }
        }
    }

    .burger {
        display: block;
        background-color: $background_color;
        cursor: pointer;
        z-index: 1;
        outline: none;
        transition: all 0.3s ease;
        position: absolute;
        right: 3rem;

        div {
            width: 25px;
            height: 3px;
            margin: 5px;
            background: $burger_color;
            transition: all 0.3s ease;
        }
    }

    .main_menu.open {
        transform: scaleX(1);
    }
    .burger.close {
        display: block;

        .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .line2 {
            opacity: 0;
        }

        .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }

}