/*          COLORS          */
/*          Sizes          */
.main_menu li {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 5rem;
}

.main_menu li a {
  color: #004177;
}

.main_menu li a:hover {
  color: #e8525d;
}

.main_menu li a.active:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e8525d;
  position: absolute;
}

.main_menu #exit {
  background: #fff;
  border: 3px solid #d6f0fc;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  padding: 12px 16px;
  color: #004177;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.main_menu #exit:hover {
  background-color: #d6f0fc;
  color: #e8525d;
}

.burger {
  display: none;
}

/*          mobile          */
@media screen and (max-width: 1164px) {
  .main_menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #005ba4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    z-index: 99;
  }
  .main_menu li {
    margin-left: 2rem;
  }
  .main_menu li a {
    color: #fff;
  }
  .main_menu li button {
    background: #d6f0fc;
  }
  .burger {
    display: block;
    background-color: #fff;
    cursor: pointer;
    z-index: 1;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    right: 3rem;
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background: #e8525d;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .main_menu.open {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .burger.close {
    display: block;
  }
  .burger.close .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .burger.close .line2 {
    opacity: 0;
  }
  .burger.close .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}
/*# sourceMappingURL=MainMenu.css.map */