/*          COLORS          */
/*          Sizes          */
.newSubtask {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newSubtask input {
  color: #426A98;
  font-size: medium;
  height: 1rem;
  border-radius: 5px;
  border-color: #d6f0fc;
  margin: 0 15px 5px 15px;
  padding: 0 5px;
}
/*# sourceMappingURL=SubtaskCreator.css.map */