@import "../../../../../Assets/Style/variables.scss";

.newSubtask {
    display: inline-flex;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;

    input {
        color: $subtask_color;
        font-size: medium;
        height: 1rem;
        border-radius: 5px;
        border-color: $menu_background_color;
        margin: 0 15px 5px 15px;
        padding: 0 5px;
    }
}