/*          COLORS          */
$main_font_color: #112B46;
$menu_background_color: #d6f0fc;
$background_color:#fff;
$link_main_color:  #004177;
$link_hover_color:  #e8525d;
$burger_color:#e8525d;
$shadow: rgba(1, 1, 1, 0.75);
$error: #e8525d;

$form_background: #005ba4;
$form_font_color: #fff;
$form_link_main_color:#ffcb26;
$form_link_hover_color:#ffee00;

$task_background:  #EBEBEB;
$task_board_name_color: #001D41;
$task_color: #283F5B;
$deadline_color: #001D41;
$subtask_color: #426A98;
$blockstatusdone: #E7440D;
$blockstatusactive:#62BC42;
$blockstatusnoactive:#83CDF2;

/*          Sizes          */
$font_size: 18px;
$border_radius: 15px;