/*          COLORS          */
/*          Sizes          */
.tasks_done,
.tasks_active,
.tasks_noactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31%;
  height: 100%;
}

.tasks_done .tasks_done_header,
.tasks_done .tasks_active_header,
.tasks_done .tasks_noactive_header,
.tasks_active .tasks_done_header,
.tasks_active .tasks_active_header,
.tasks_active .tasks_noactive_header,
.tasks_noactive .tasks_done_header,
.tasks_noactive .tasks_active_header,
.tasks_noactive .tasks_noactive_header {
  height: 20px;
  margin: 10px;
}

.tasks_done .tasks_done_header .tasks_done_header_span,
.tasks_done .tasks_done_header .tasks_active_header_span,
.tasks_done .tasks_done_header .tasks_noactive_header_span,
.tasks_done .tasks_active_header .tasks_done_header_span,
.tasks_done .tasks_active_header .tasks_active_header_span,
.tasks_done .tasks_active_header .tasks_noactive_header_span,
.tasks_done .tasks_noactive_header .tasks_done_header_span,
.tasks_done .tasks_noactive_header .tasks_active_header_span,
.tasks_done .tasks_noactive_header .tasks_noactive_header_span,
.tasks_active .tasks_done_header .tasks_done_header_span,
.tasks_active .tasks_done_header .tasks_active_header_span,
.tasks_active .tasks_done_header .tasks_noactive_header_span,
.tasks_active .tasks_active_header .tasks_done_header_span,
.tasks_active .tasks_active_header .tasks_active_header_span,
.tasks_active .tasks_active_header .tasks_noactive_header_span,
.tasks_active .tasks_noactive_header .tasks_done_header_span,
.tasks_active .tasks_noactive_header .tasks_active_header_span,
.tasks_active .tasks_noactive_header .tasks_noactive_header_span,
.tasks_noactive .tasks_done_header .tasks_done_header_span,
.tasks_noactive .tasks_done_header .tasks_active_header_span,
.tasks_noactive .tasks_done_header .tasks_noactive_header_span,
.tasks_noactive .tasks_active_header .tasks_done_header_span,
.tasks_noactive .tasks_active_header .tasks_active_header_span,
.tasks_noactive .tasks_active_header .tasks_noactive_header_span,
.tasks_noactive .tasks_noactive_header .tasks_done_header_span,
.tasks_noactive .tasks_noactive_header .tasks_active_header_span,
.tasks_noactive .tasks_noactive_header .tasks_noactive_header_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #001D41;
  font-weight: 600;
}

.tasks_done .tasks_done_header .tasks_done_header_span .taskcreator button,
.tasks_done .tasks_done_header .tasks_active_header_span .taskcreator button,
.tasks_done .tasks_done_header .tasks_noactive_header_span .taskcreator button,
.tasks_done .tasks_active_header .tasks_done_header_span .taskcreator button,
.tasks_done .tasks_active_header .tasks_active_header_span .taskcreator button,
.tasks_done .tasks_active_header .tasks_noactive_header_span .taskcreator button,
.tasks_done .tasks_noactive_header .tasks_done_header_span .taskcreator button,
.tasks_done .tasks_noactive_header .tasks_active_header_span .taskcreator button,
.tasks_done .tasks_noactive_header .tasks_noactive_header_span .taskcreator button,
.tasks_active .tasks_done_header .tasks_done_header_span .taskcreator button,
.tasks_active .tasks_done_header .tasks_active_header_span .taskcreator button,
.tasks_active .tasks_done_header .tasks_noactive_header_span .taskcreator button,
.tasks_active .tasks_active_header .tasks_done_header_span .taskcreator button,
.tasks_active .tasks_active_header .tasks_active_header_span .taskcreator button,
.tasks_active .tasks_active_header .tasks_noactive_header_span .taskcreator button,
.tasks_active .tasks_noactive_header .tasks_done_header_span .taskcreator button,
.tasks_active .tasks_noactive_header .tasks_active_header_span .taskcreator button,
.tasks_active .tasks_noactive_header .tasks_noactive_header_span .taskcreator button,
.tasks_noactive .tasks_done_header .tasks_done_header_span .taskcreator button,
.tasks_noactive .tasks_done_header .tasks_active_header_span .taskcreator button,
.tasks_noactive .tasks_done_header .tasks_noactive_header_span .taskcreator button,
.tasks_noactive .tasks_active_header .tasks_done_header_span .taskcreator button,
.tasks_noactive .tasks_active_header .tasks_active_header_span .taskcreator button,
.tasks_noactive .tasks_active_header .tasks_noactive_header_span .taskcreator button,
.tasks_noactive .tasks_noactive_header .tasks_done_header_span .taskcreator button,
.tasks_noactive .tasks_noactive_header .tasks_active_header_span .taskcreator button,
.tasks_noactive .tasks_noactive_header .tasks_noactive_header_span .taskcreator button {
  width: 22px;
  background: none;
  outline: none;
  cursor: pointer;
}

.tasks_done .tasks_done_list,
.tasks_done .tasks_active_list,
.tasks_done .tasks_noactive_list,
.tasks_active .tasks_done_list,
.tasks_active .tasks_active_list,
.tasks_active .tasks_noactive_list,
.tasks_noactive .tasks_done_list,
.tasks_noactive .tasks_active_list,
.tasks_noactive .tasks_noactive_list {
  height: 100%;
  overflow-y: auto;
  background: #EBEBEB;
}

.tasks_done .tasks_done_list .taskheader,
.tasks_done .tasks_active_list .taskheader,
.tasks_done .tasks_noactive_list .taskheader,
.tasks_active .tasks_done_list .taskheader,
.tasks_active .tasks_active_list .taskheader,
.tasks_active .tasks_noactive_list .taskheader,
.tasks_noactive .tasks_done_list .taskheader,
.tasks_noactive .tasks_active_list .taskheader,
.tasks_noactive .tasks_noactive_list .taskheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tasks_done .tasks_done_list .taskheader .dateandtitle,
.tasks_done .tasks_active_list .taskheader .dateandtitle,
.tasks_done .tasks_noactive_list .taskheader .dateandtitle,
.tasks_active .tasks_done_list .taskheader .dateandtitle,
.tasks_active .tasks_active_list .taskheader .dateandtitle,
.tasks_active .tasks_noactive_list .taskheader .dateandtitle,
.tasks_noactive .tasks_done_list .taskheader .dateandtitle,
.tasks_noactive .tasks_active_list .taskheader .dateandtitle,
.tasks_noactive .tasks_noactive_list .taskheader .dateandtitle {
  width: 100%;
}

/*          mobile          */
@media screen and (max-width: 1024px) {
  .tasks_done,
  .tasks_active,
  .tasks_noactive {
    width: 100%;
    overflow: auto;
  }
}
/*# sourceMappingURL=Board.css.map */