@import "../../Assets/Style/variables.scss";

.tasks_done,
.tasks_active,
.tasks_noactive {
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 100%;

    .tasks_done_header,
    .tasks_active_header,
    .tasks_noactive_header {
        height: 20px;
        margin: 10px;

        .tasks_done_header_span,
        .tasks_active_header_span,
        .tasks_noactive_header_span {
            display: flex;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            color: $task_board_name_color;
            font-weight: 600;

            .taskcreator {
                button {
                    width: 22px;
                    background: none;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
    }

    .tasks_done_list,
    .tasks_active_list,
    .tasks_noactive_list {
        height: 100%;
        overflow-y: auto;
        background: $task_background;

        .taskheader {
            display: flex;
            justify-content: space-between;
            .dateandtitle{
                width: 100%;
            }
        }
    }
}

/*          mobile          */
@media screen and (max-width: 1024px) {

    .tasks_done,
    .tasks_active,
    .tasks_noactive {
        width: 100%;
        overflow: auto;
    }
}