@import "../../../Assets/Style/variables.scss";

form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    .checkbox {
        display: flex;
        align-items: center;
        label {
            margin-left: 10px;
        }
    }
    .error {
        font-size: small;
        color: $error;
        margin-left: 0.5rem;
        height: 16px;
    }
    .remember {
        margin: 1rem 0;
        color: $form_link_main_color;
    }
    .remember:hover {
        color: $form_link_hover_color;
    }
    .button {
        margin: 0 auto;
        outline: none;
        background: $form_link_main_color;
        cursor: pointer;
    }
    .button:hover {
        background: $form_link_hover_color;
    }
}
