/*          COLORS          */
/*          Sizes          */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

form .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .checkbox label {
  margin-left: 10px;
}

form .error {
  font-size: small;
  color: #e8525d;
  margin-left: 0.5rem;
  height: 16px;
}

form .remember {
  margin: 1rem 0;
  color: #ffcb26;
}

form .remember:hover {
  color: #ffee00;
}

form .button {
  margin: 0 auto;
  outline: none;
  background: #ffcb26;
  cursor: pointer;
}

form .button:hover {
  background: #ffee00;
}
/*# sourceMappingURL=Authorization.css.map */