/*          COLORS          */
/*          Sizes          */
/*          MainPage            */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main .main_info {
  padding: 0 4rem;
  color: #112B46;
  margin-bottom: 20px;
}

main .main_info h1 {
  font-size: 54px;
  margin-bottom: 1rem;
}

main img {
  width: 50%;
}

/*          mobile          */
@media screen and (max-width: 750px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .main_info {
    padding: 10px;
  }
  main .main_info h1 {
    font-size: 27px;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=Home.css.map */