@import "../../Assets/Style/variables.scss";

/*          MainPage            */
main{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    flex-grow: 1;
        .main_info{
            padding: 0 4rem;
            color: $main_font_color;
            margin-bottom: 20px;
            h1{
                font-size: $font_size*3;
                margin-bottom: 1rem;
            }
        }
        img{
            width: 50%;
        }
}

/*          mobile          */
@media screen and (max-width: 750px){
    main{
        display: flex;
        flex-direction:column;
        text-align: center;
        justify-content: space-between;
        .main_info{
            padding: 10px;
            h1{
                font-size: $font_size*1.5;
                margin-bottom: 1rem;
            }
        }
    }
}