@import "../../Assets/Style/variables.scss";

.taskCreator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin: 0 auto;
    padding: 0.5rem;

    input[type=text] {
        font-size: $font_size*0.85;
        padding: 0 10px;
        border-radius: $border_radius;
        outline: none;
    }

    input[type=date] {
        font-size: $font_size*0.85;
        padding: 0 10px;
        border-radius: $border_radius;
        outline: none;
    }
}