/*          COLORS          */
/*          Sizes          */
.taskCreator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin: 0 auto;
  padding: 0.5rem;
}

.taskCreator input[type=text] {
  font-size: 15.3px;
  padding: 0 10px;
  border-radius: 15px;
  outline: none;
}

.taskCreator input[type=date] {
  font-size: 15.3px;
  padding: 0 10px;
  border-radius: 15px;
  outline: none;
}
/*# sourceMappingURL=TaskCreator.css.map */