@import "../../../Assets/Style/variables.scss";

form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    input {
        height: 2rem;
        border-radius: $border_radius;
        padding: 0 10px;
        outline: none;
    }
    .radio_button {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $form_font_color;
        label {
            text-align: left;
        }
        .gender_male,
        .gender_female {
            margin-left: 20px;
        }
        .male_radio,
        .female_radio {
            display: flex;
            align-items: center;
        }
        p {
            color: $form_font_color;
            float: left;
        }
    }
    a {
        margin: 1rem 0;
        color: $form_link_main_color;
    }
    a {
        margin: 1rem 0;
        color: $form_link_hover_color;
    }
    .button {
        margin: 0 auto;
        outline: none;
        background: $form_link_main_color;
        cursor: pointer;
    }
    .button:hover {
        background: $form_link_hover_color;
    }
}
