/*          COLORS          */
/*          Sizes          */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

form input {
  height: 2rem;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}

form .radio_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

form .radio_button label {
  text-align: left;
}

form .radio_button .gender_male,
form .radio_button .gender_female {
  margin-left: 20px;
}

form .radio_button .male_radio,
form .radio_button .female_radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .radio_button p {
  color: #fff;
  float: left;
}

form a {
  margin: 1rem 0;
  color: #ffcb26;
}

form a {
  margin: 1rem 0;
  color: #ffee00;
}

form .button {
  margin: 0 auto;
  outline: none;
  background: #ffcb26;
  cursor: pointer;
}

form .button:hover {
  background: #ffee00;
}
/*# sourceMappingURL=Registration.css.map */