header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 2rem 20px 2rem;
}

header .logo {
  width: 200px;
}

@media screen and (max-width: 750px) {
  header {
    padding: 1rem;
    margin-bottom: 20px;
  }
  header .logo {
    width: 40%;
  }
}
/*# sourceMappingURL=Header.css.map */