header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2rem 20px 2rem;

    .logo {
        width: 200px;
    }
}

@media screen and (max-width: 750px) {
    header {
        padding: 1rem;
        margin-bottom: 20px;

        .logo {
            width: 40%;
        }
    }
}