/*          COLORS          */
/*          Sizes          */
.calendarPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendarPage table {
  height: 100%;
}

.calendarPage table tr td {
  text-align: left;
  border: 1px black solid;
}
/*# sourceMappingURL=Calendar.css.map */