@import "../../Assets/Style/variables.scss";

.calendarPage {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    table{
        height: 100%;
        tr{
            td{
                text-align: left;
                border: 1px black solid;
            }
        }
    }
}