@import "../../../Assets/Style/variables.scss";

.donetask,
.activetask,
.noactivetask {
    padding: 0.5rem;
    position: relative;

    .dateandtitle {
        .date {
            cursor: default;
        }
        .tasktitle:hover{
            text-decoration: underline;
        }

        .date,
        .tasktitle {
            color: $task_color;
            background: none;
            width: 100%;
            outline: none;
        }

        .blockstatusdone,
        .blockstatusactive,
        .blockstatusnoactive {
            position: absolute;
            left: 0;
            top: 1rem;
            width: 4px;
            height: 9px;
        }

        .blockstatusdone {
            background: $blockstatusdone;
        }

        .blockstatusactive {
            background: $blockstatusactive;
        }

        .blockstatusnoactive {
            background: $blockstatusnoactive;
        }
    }

    .buttons {
        display: flex;
        align-items: center;

        .changestatus {
            margin: 0 10px;
        }

        .changestatus,
        .changedatabutton,
        .delettaskebutton {
            width: 15px;
            background: none;
            cursor: pointer;
            outline: none;
        }
    }

    .deletebutton {
        width: 15px;
        background: none;
        cursor: pointer;
        outline: none;
    }

    .deletebutton:hover {
        transform: scale(1.08);
    }

}

.donetask:hover,
.activetask:hover,
.noactivetask:hover {
    background: $task_background *0.9;
}