/*          COLORS          */
/*          Sizes          */
.donetask,
.activetask,
.noactivetask {
  padding: 0.5rem;
  position: relative;
}

.donetask .dateandtitle .date,
.activetask .dateandtitle .date,
.noactivetask .dateandtitle .date {
  cursor: default;
}

.donetask .dateandtitle .tasktitle:hover,
.activetask .dateandtitle .tasktitle:hover,
.noactivetask .dateandtitle .tasktitle:hover {
  text-decoration: underline;
}

.donetask .dateandtitle .date,
.donetask .dateandtitle .tasktitle,
.activetask .dateandtitle .date,
.activetask .dateandtitle .tasktitle,
.noactivetask .dateandtitle .date,
.noactivetask .dateandtitle .tasktitle {
  color: #283F5B;
  background: none;
  width: 100%;
  outline: none;
}

.donetask .dateandtitle .blockstatusdone,
.donetask .dateandtitle .blockstatusactive,
.donetask .dateandtitle .blockstatusnoactive,
.activetask .dateandtitle .blockstatusdone,
.activetask .dateandtitle .blockstatusactive,
.activetask .dateandtitle .blockstatusnoactive,
.noactivetask .dateandtitle .blockstatusdone,
.noactivetask .dateandtitle .blockstatusactive,
.noactivetask .dateandtitle .blockstatusnoactive {
  position: absolute;
  left: 0;
  top: 1rem;
  width: 4px;
  height: 9px;
}

.donetask .dateandtitle .blockstatusdone,
.activetask .dateandtitle .blockstatusdone,
.noactivetask .dateandtitle .blockstatusdone {
  background: #E7440D;
}

.donetask .dateandtitle .blockstatusactive,
.activetask .dateandtitle .blockstatusactive,
.noactivetask .dateandtitle .blockstatusactive {
  background: #62BC42;
}

.donetask .dateandtitle .blockstatusnoactive,
.activetask .dateandtitle .blockstatusnoactive,
.noactivetask .dateandtitle .blockstatusnoactive {
  background: #83CDF2;
}

.donetask .buttons,
.activetask .buttons,
.noactivetask .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donetask .buttons .changestatus,
.activetask .buttons .changestatus,
.noactivetask .buttons .changestatus {
  margin: 0 10px;
}

.donetask .buttons .changestatus,
.donetask .buttons .changedatabutton,
.donetask .buttons .delettaskebutton,
.activetask .buttons .changestatus,
.activetask .buttons .changedatabutton,
.activetask .buttons .delettaskebutton,
.noactivetask .buttons .changestatus,
.noactivetask .buttons .changedatabutton,
.noactivetask .buttons .delettaskebutton {
  width: 15px;
  background: none;
  cursor: pointer;
  outline: none;
}

.donetask .deletebutton,
.activetask .deletebutton,
.noactivetask .deletebutton {
  width: 15px;
  background: none;
  cursor: pointer;
  outline: none;
}

.donetask .deletebutton:hover,
.activetask .deletebutton:hover,
.noactivetask .deletebutton:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.donetask:hover,
.activetask:hover,
.noactivetask:hover {
  background: #d4d4d4;
}
/*# sourceMappingURL=TaskBlock.css.map */