.content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.tasks_table {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

/*          mobile          */
@media screen and (max-width: 1024px) {
    .content{
        overflow: auto;
    }
    .tasks_table {
        flex-direction: column;
        height: auto;
    }
}