/*          COLORS          */
/*          Sizes          */
.gray {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(1, 1, 1, 0.75);
}

.window {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 75%;
  height: 60vh;
  top: 20%;
  left: 12.5%;
  z-index: 2;
}

.window .window_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  background: #fff;
  width: 100%;
}

.window img {
  display: block;
  width: 75%;
  border-radius: 15px;
}

.window .right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.window .form_block {
  border-radius: 15px;
  background: #005ba4;
  color: #fff;
  padding-top: 2rem;
}

.window .form_block h2 {
  text-align: center;
}

/*          Mobile          */
@media screen and (max-width: 980px) {
  .window {
    width: 100%;
    left: 0;
  }
  .window img {
    display: none;
  }
  .window .right_side {
    width: 100%;
  }
}
/*# sourceMappingURL=WindowForm.css.map */