@import "../../Assets/Style/variables.scss";

.gray {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(1, 1, 1, 0.75);
}
.window {
    align-items: center;
    position: absolute;
    width: 75%;
    height: 60vh;
    top: 20%;
    left: 12.5%;
    z-index: 2;
    .window_block {
        display: flex;
        border-radius: $border_radius;
        background: $background_color;
        width: 100%;
    }
    img {
        display: block;
        width: 75%;
        border-radius: $border_radius;
    }
    .right_side {
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }
    .form_block {
        border-radius: $border_radius;
        background: $form_background;
        color: $form_font_color;
        padding-top: 2rem;
        h2 {
            text-align: center;
        }
    }
}

/*          Mobile          */
@media screen and (max-width: 980px) {
    .window {
        width: 100%;
        left: 0;
        img {
            display: none;
        }
        .right_side {
            width: 100%;
        }
    }
}
