/*          COLORS          */
/*          Sizes          */
.navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d6f0fc;
  border-radius: 15px;
  padding: 12px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

.navigator strong {
  color: #112B46;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 16px;
}

.navigator .menu_authentication {
  display: none;
}

.navigator .burger {
  display: block;
  background-color: #d6f0fc;
  cursor: pointer;
  z-index: 1;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  right: 3rem;
}

.navigator .burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background: #e8525d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigator .burger:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*          Open menu           */
.navigator.open {
  width: 350px;
}

.navigator.open .menu_authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigator.open .menu_authentication li {
  display: inline-block;
  cursor: pointer;
  margin-right: 16px;
  position: relative;
}

.navigator.open .menu_authentication li button {
  background-color: #d6f0fc;
  color: #004177;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.navigator.open .menu_authentication li button:hover {
  color: #e8525d;
}

.navigator.open .menu_authentication li:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e8525d;
  position: absolute;
}

.navigator.open .burger .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.navigator.open .burger .line2 {
  opacity: 0;
}

.navigator.open .burger .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/*          mobile          */
@media screen and (max-width: 750px) {
  .navigator {
    padding: 10px;
    width: 35px;
    height: 29px;
    margin-right: 15px;
  }
  .navigator strong {
    display: none;
  }
  .navigator.open {
    width: 35px;
    height: 29px;
    margin-right: 15px;
  }
  .menu_authentication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 80px;
    background: #d6f0fc;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=Identification.css.map */