@import "../../Assets/Style/variables.scss";

.navigator {
    display: flex;
    background-color: $menu_background_color;
    border-radius: $border_radius;
    padding: 12px 16px;
    align-items: center;
    width: 100px;
    transition: all 0.3s ease;
    overflow-x: hidden;
    strong {
        color: $main_font_color;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 16px;
    }
    .menu_authentication {
        display: none;
    }
    .burger {
        display: block;
        background-color: $menu_background_color;
        cursor: pointer;
        z-index: 1;
        outline: none;
        transition: all 0.3s ease;
        position: absolute;
        right: 3rem;
        div {
            width: 25px;
            height: 3px;
            margin: 5px;
            background: $burger_color;
            transition: all 0.3s ease;
        }
    }
    .burger:hover {
        transform: scale(1.1);
    }
}
/*          Open menu           */
.navigator.open {
    width: 350px;
    .menu_authentication {
        display: flex;
        li {
            display: inline-block;
            cursor: pointer;
            margin-right: 16px;
            position: relative;
            button {
                background-color: $menu_background_color;
                color: $link_main_color;
                text-transform: uppercase;
                outline: none;
                cursor: pointer;
                font-weight: bold;
            }
            button:hover {
                color: $link_hover_color;
            }
        }
        li:hover:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: $link_hover_color;
            position: absolute;
        }
    }
    .burger {
        .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        .line2 {
            opacity: 0;
        }
        .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }
}

/*          mobile          */
@media screen and (max-width: 750px) {
    .navigator {
        padding: 10px;
        width: 35px;
        height: 29px;
        margin-right: 15px;
        strong {
            display: none;
        }
    }
    .navigator.open {
        width: 35px;
        height: 29px;
        margin-right: 15px;
    }
    .menu_authentication {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 80px;
        background: #d6f0fc;
        align-items: center;
        justify-content: space-around;
    }
}
