@import "./Assets/Style/variables.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: $font_size;
    text-decoration: none;
    list-style: none;
    font-family:
        Constantia, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.527);
    border-radius: 15px;
}

.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/*          mobile          */
@media screen and (max-width: 750px) {
    * {
        font-size: small;
    }

    .wrapper {
        height: auto;
    }
}