/*          COLORS          */
/*          Sizes          */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  font-family: Constantia, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.527);
  border-radius: 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*          mobile          */
@media screen and (max-width: 750px) {
  * {
    font-size: small;
  }
  .wrapper {
    height: auto;
  }
}
/*# sourceMappingURL=App.css.map */