@import "../../../../../Assets/Style/variables.scss";

.subtaskblock {
    display: flex;
    padding: 0 10px;
    align-items: center;
    height: 25px;
    margin: 0 15px;

    input[type=text] {
        background: none;
        width: 100%;
        color: $subtask_color;
        font-size: large;
        height: 2rem;
        outline: none;
        padding-left: 0.5rem;
        cursor: text;
    }
    input[type=text]:hover{
        text-decoration: underline;
    }

    .buttons {
        display: flex;

        .editbutton {
            margin: 0 5px;
        }

        .statusbutton,
        .editbutton,
        .deletebutton {
            width: 10px;
            background: none;
            cursor: pointer;
            outline: none;
        }
    }

    .subtask.done {
        color: gray;
        text-decoration: line-through;
    }
}

.subtaskBlock:hover {
    outline: auto;
}