/*          COLORS          */
/*          Sizes          */
.subtaskblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  margin: 0 15px;
}

.subtaskblock input[type=text] {
  background: none;
  width: 100%;
  color: #426A98;
  font-size: large;
  height: 2rem;
  outline: none;
  padding-left: 0.5rem;
  cursor: text;
}

.subtaskblock input[type=text]:hover {
  text-decoration: underline;
}

.subtaskblock .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subtaskblock .buttons .editbutton {
  margin: 0 5px;
}

.subtaskblock .buttons .statusbutton,
.subtaskblock .buttons .editbutton,
.subtaskblock .buttons .deletebutton {
  width: 10px;
  background: none;
  cursor: pointer;
  outline: none;
}

.subtaskblock .subtask.done {
  color: gray;
  text-decoration: line-through;
}

.subtaskBlock:hover {
  outline: auto;
}
/*# sourceMappingURL=SubtaskBlock.css.map */